<html>
  <head>    
      <link rel="stylesheet"
            href="{{=request.static_url('static/bootstrap.min.css')}}" />
      <link rel="stylesheet"
            href="{{=request.static_url('static/web2py-bootstrap3.css')}}" />
      <link rel="stylesheet"
            href="{{=request.static_url('static/bootstrap-theme.min.css')}}" />
  </head>
  <body>
<style>
select, input {
    height: 30px;
    line-height: 30px;
}
</style>
    {{try:}}
        {{flash = request.session.pop_flash()}}
        {{if len(flash) > 0:}}
            <div class="w2p_flash alert alert-dismissable" style="display: block;">{{=flash[0]}}<span id="closeflash"> × </span></div>
            {{pass}}
    {{except:}}
        {{pass}}
    {{include}}
    
  </body>
</html>
